**Sales Prediction for Big Mart Outlets**

In [1]:
# importing the required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#loading the train data
train_data=pd.read_csv("/content/train_XnW6LSF.csv")

In [3]:
train_data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [4]:
#removing unnecessary features
train_data = train_data.drop('Outlet_Identifier', axis=1)
train_data = train_data.drop('Item_Identifier', axis=1)

**Preprocessing**

In [5]:
#imputing missing values, checking missing values
train_data.isnull().sum()

Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
# Impute the missing values with mean imputation
train_data.fillna(train_data.mean(), inplace=True)
# Count the number of NaNs in the dataset to verify
train_data.isnull().sum()

Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
# for non-numeric features
train_data = train_data.fillna(train_data['Outlet_Size'].value_counts().index[0])
train_data.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

**Converting non-numeric values to numeric values**

In [8]:
#Finding Numeric and Categorical columns
col         = list(train_data)
numeric_col     = ['Item_MRP', 'Item_Weight', 'Item_Visibility', 'Outlet_Establishment_Year','Item_Outlet_Sales']
categorical_col = [i for i in col if i not in numeric_col ]
print('\nNumeric columns: ')
print(numeric_col)
print('\nCategorical columns: ')
print(categorical_col)

Numeric columns:
['Item_MRP', 'Item_Weight', 'Item_Visibility', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']

Categorical columns:
['Item_Fat_Content', 'Item_Type', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [9]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder
# Instantiate LabelEncoder
le = LabelEncoder()
# Iterate over all the values of each column and extract their dtypes
for col in categorical_col:
        train_data[col]=le.fit_transform(train_data[col])

In [10]:
train_data.head()

   Item_Weight  Item_Fat_Content  ...  Outlet_Type  Item_Outlet_Sales
0         9.30                 1  ...            1          3735.1380
1         5.92                 2  ...            2           443.4228
2        17.50                 1  ...            1          2097.2700
3        19.20                 2  ...            0           732.3800
4         8.93                 1  ...            1           994.7052

[5 rows x 10 columns]

In [11]:
# separating the independent and dependent variables
# storing all the independent variables as X
X = train_data.drop('Item_Outlet_Sales', axis=1)
# storing the dependent variable as y
y = train_data['Item_Outlet_Sales']

**Doing same with test data**

In [12]:
#loading the test data
test_data=pd.read_csv("/content/test_FewQE9B.csv")
original_data=pd.read_csv("/content/test_FewQE9B.csv")
test_data.head()

  Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0           FDW58       20.750  ...               Tier 1  Supermarket Type1
1           FDW14        8.300  ...               Tier 2  Supermarket Type1
2           NCN55       14.600  ...               Tier 3      Grocery Store
3           FDQ58        7.315  ...               Tier 2  Supermarket Type1
4           FDY38          NaN  ...               Tier 3  Supermarket Type3

[5 rows x 11 columns]

In [13]:
test_data = test_data.drop('Outlet_Identifier', axis=1)
test_data = test_data.drop('Item_Identifier', axis=1)

In [14]:
#imputing missing values, checking missing values
test_data.isnull().sum()

Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [15]:
# Impute the missing values with mean imputation
test_data.fillna(test_data.mean(), inplace=True)
# Count the number of NaNs in the dataset to verify
test_data.isnull().sum()

Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [16]:
test_data = test_data.fillna(test_data['Outlet_Size'].value_counts().index[0])
test_data.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [17]:
for col in categorical_col:
        test_data[col]=le.fit_transform(test_data[col])

**Architecture of The Model**

In [18]:
import keras
import tensorflow as tf

In [19]:
# importing the sequential model
from keras.models import Sequential

In [20]:
# importing different layers from keras
from keras.layers import InputLayer, Dense

In [21]:
X.shape[1]

9

In [22]:
# defining input neurons
input_layer_neurons = X.shape[1]

In [23]:
output_layer_neurons=1

In [24]:
# define hidden layers and neuron in each layer
num_hidden_layers = 10
hidden_layer_1 = 1000
hidden_layer_2 = 950
hidden_layer_3 = 900
hidden_layer_4 = 850
hidden_layer_5 = 700
hidden_layer_6 = 650
hidden_layer_7 = 600
hidden_layer_8 = 550
hidden_layer_9 = 500
hidden_layer_10 = 450

In [25]:
# defining the architecture of the model
model = Sequential()
model.add(InputLayer(input_shape=(input_layer_neurons,)))
model.add(Dense(units=hidden_layer_1, activation='relu'))
model.add(Dense(units=hidden_layer_2, activation='relu'))
model.add(Dense(units=hidden_layer_3, activation='relu'))
model.add(Dense(units=hidden_layer_4, activation='relu'))
model.add(Dense(units=hidden_layer_5, activation='relu'))
model.add(Dense(units=hidden_layer_6, activation='relu'))
model.add(Dense(units=hidden_layer_7, activation='relu'))
model.add(Dense(units=hidden_layer_8, activation='relu'))
model.add(Dense(units=hidden_layer_9, activation='relu'))
model.add(Dense(units=hidden_layer_10, activation='relu'))
model.add(Dense(units=output_layer_neurons, activation='linear'))

In [26]:
# summary of the model
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1000)              10000

 dense_1 (Dense)             (None, 950)               950950

 dense_2 (Dense)             (None, 900)               855900

 dense_3 (Dense)             (None, 850)               765850

 dense_4 (Dense)             (None, 700)               595700

 dense_5 (Dense)             (None, 650)               455650

 dense_6 (Dense)             (None, 600)               390600

 dense_7 (Dense)             (None, 550)               330550

 dense_8 (Dense)             (None, 500)               275500

 dense_9 (Dense)             (None, 450)               225450

 dense_10 (Dense)            (None, 1)                 451

=================================================================
Total params: 4,856,601
Trainable params: 4,856,601
Non-trainable params: 0
_________________________________________________________________

**Traing the Model**

In [27]:
model.compile(loss='mse',optimizer='Adam',metrics=[tf.keras.metrics.RootMeanSquaredError()])

In [28]:
model_history = model.fit(X, y, epochs=100)

Epoch 1/100
267/267 [==============================] - 19s 66ms/step - loss: 2674532.7500 - root_mean_squared_error: 1635.3999
Epoch 2/100
267/267 [==============================] - 18s 66ms/step - loss: 2101304.2500 - root_mean_squared_error: 1449.5876
Epoch 3/100
267/267 [==============================] - 17s 65ms/step - loss: 2170583.7500 - root_mean_squared_error: 1473.2902
Epoch 4/100
267/267 [==============================] - 18s 66ms/step - loss: 2046424.6250 - root_mean_squared_error: 1430.5330
Epoch 5/100
267/267 [==============================] - 18s 66ms/step - loss: 2008402.7500 - root_mean_squared_error: 1417.1813
Epoch 6/100
267/267 [==============================] - 18s 66ms/step - loss: 1945729.3750 - root_mean_squared_error: 1394.8940
Epoch 7/100
267/267 [==============================] - 18s 66ms/step - loss: 1894982.1250 - root_mean_squared_error: 1376.5835
Epoch 8/100
267/267 [==============================] - 18s 67ms/step - loss: 1836957.6250 - root_mean_squared_error: 1355.3441
Epoch 9/100
267/267 [==============================] - 18s 67ms/step - loss: 1759195.0000 - root_mean_squared_error: 1326.3464
Epoch 10/100
267/267 [==============================] - 18s 66ms/step - loss: 1705641.0000 - root_mean_squared_error: 1306.0020
Epoch 11/100
267/267 [==============================] - 18s 66ms/step - loss: 1682599.1250 - root_mean_squared_error: 1297.1504
Epoch 12/100
267/267 [==============================] - 18s 66ms/step - loss: 1643213.5000 - root_mean_squared_error: 1281.8789
Epoch 13/100
267/267 [==============================] - 18s 67ms/step - loss: 1648697.5000 - root_mean_squared_error: 1284.0161
Epoch 14/100
267/267 [==============================] - 18s 67ms/step - loss: 1696757.1250 - root_mean_squared_error: 1302.5963
Epoch 15/100
267/267 [==============================] - 18s 66ms/step - loss: 1629280.3750 - root_mean_squared_error: 1276.4326
Epoch 16/100
267/267 [==============================] - 18s 66ms/step - loss: 1539414.6250 - root_mean_squared_error: 1240.7314
Epoch 17/100
267/267 [==============================] - 18s 66ms/step - loss: 1610909.6250 - root_mean_squared_error: 1269.2162
Epoch 18/100
267/267 [==============================] - 18s 66ms/step - loss: 1603449.7500 - root_mean_squared_error: 1266.2739
Epoch 19/100
267/267 [==============================] - 18s 66ms/step - loss: 1504106.1250 - root_mean_squared_error: 1226.4200
Epoch 20/100
267/267 [==============================] - 17s 65ms/step - loss: 1597512.2500 - root_mean_squared_error: 1263.9274
Epoch 21/100
267/267 [==============================] - 17s 65ms/step - loss: 1536437.0000 - root_mean_squared_error: 1239.5310
Epoch 22/100
267/267 [==============================] - 18s 66ms/step - loss: 1485018.1250 - root_mean_squared_error: 1218.6132
Epoch 23/100
267/267 [==============================] - 18s 66ms/step - loss: 1439662.0000 - root_mean_squared_error: 1199.8591
Epoch 24/100
267/267 [==============================] - 18s 66ms/step - loss: 1419923.2500 - root_mean_squared_error: 1191.6053
Epoch 25/100
267/267 [==============================] - 18s 66ms/step - loss: 1513268.0000 - root_mean_squared_error: 1230.1495
Epoch 26/100
267/267 [==============================] - 17s 66ms/step - loss: 1506743.7500 - root_mean_squared_error: 1227.4949
Epoch 27/100
267/267 [==============================] - 18s 66ms/step - loss: 1461270.3750 - root_mean_squared_error: 1208.8302
Epoch 28/100
267/267 [==============================] - 18s 66ms/step - loss: 1431316.7500 - root_mean_squared_error: 1196.3765
Epoch 29/100
267/267 [==============================] - 17s 65ms/step - loss: 1537664.2500 - root_mean_squared_error: 1240.0259
Epoch 30/100
267/267 [==============================] - 17s 65ms/step - loss: 1511072.6250 - root_mean_squared_error: 1229.2570
Epoch 31/100
267/267 [==============================] - 18s 66ms/step - loss: 1552184.0000 - root_mean_squared_error: 1245.8668
Epoch 32/100
267/267 [==============================] - 18s 66ms/step - loss: 1452660.7500 - root_mean_squared_error: 1205.2638
Epoch 33/100
267/267 [==============================] - 18s 66ms/step - loss: 1456912.5000 - root_mean_squared_error: 1207.0262
Epoch 34/100
267/267 [==============================] - 18s 66ms/step - loss: 1532463.5000 - root_mean_squared_error: 1237.9271
Epoch 35/100
267/267 [==============================] - 18s 66ms/step - loss: 1461269.6250 - root_mean_squared_error: 1208.8298
Epoch 36/100
267/267 [==============================] - 18s 66ms/step - loss: 1375155.2500 - root_mean_squared_error: 1172.6702
Epoch 37/100
267/267 [==============================] - 17s 65ms/step - loss: 1548320.6250 - root_mean_squared_error: 1244.3153
Epoch 38/100
267/267 [==============================] - 17s 65ms/step - loss: 1340000.5000 - root_mean_squared_error: 1157.5839
Epoch 39/100
267/267 [==============================] - 17s 65ms/step - loss: 1524619.8750 - root_mean_squared_error: 1234.7550
Epoch 40/100
267/267 [==============================] - 17s 65ms/step - loss: 1490235.0000 - root_mean_squared_error: 1220.7518
Epoch 41/100
267/267 [==============================] - 17s 65ms/step - loss: 1510590.1250 - root_mean_squared_error: 1229.0607
Epoch 42/100
267/267 [==============================] - 17s 65ms/step - loss: 1364263.6250 - root_mean_squared_error: 1168.0170
Epoch 43/100
267/267 [==============================] - 17s 64ms/step - loss: 1568877.1250 - root_mean_squared_error: 1252.5482
Epoch 44/100
267/267 [==============================] - 17s 65ms/step - loss: 1493786.2500 - root_mean_squared_error: 1222.2054
Epoch 45/100
267/267 [==============================] - 17s 65ms/step - loss: 1440154.7500 - root_mean_squared_error: 1200.0645
Epoch 46/100
267/267 [==============================] - 18s 66ms/step - loss: 1493325.1250 - root_mean_squared_error: 1222.0168
Epoch 47/100
267/267 [==============================] - 17s 65ms/step - loss: 1522959.1250 - root_mean_squared_error: 1234.0823
Epoch 48/100
267/267 [==============================] - 17s 65ms/step - loss: 1485069.0000 - root_mean_squared_error: 1218.6340
Epoch 49/100
267/267 [==============================] - 18s 66ms/step - loss: 1476257.6250 - root_mean_squared_error: 1215.0134
Epoch 50/100
267/267 [==============================] - 18s 67ms/step - loss: 1485002.6250 - root_mean_squared_error: 1218.6068
Epoch 51/100
267/267 [==============================] - 18s 66ms/step - loss: 1460066.7500 - root_mean_squared_error: 1208.3323
Epoch 52/100
267/267 [==============================] - 18s 66ms/step - loss: 1432573.6250 - root_mean_squared_error: 1196.9017
Epoch 53/100
267/267 [==============================] - 18s 66ms/step - loss: 1440906.3750 - root_mean_squared_error: 1200.3776
Epoch 54/100
267/267 [==============================] - 17s 65ms/step - loss: 1487511.6250 - root_mean_squared_error: 1219.6359
Epoch 55/100
267/267 [==============================] - 17s 65ms/step - loss: 1425809.6250 - root_mean_squared_error: 1194.0728
Epoch 56/100
267/267 [==============================] - 17s 65ms/step - loss: 1389094.8750 - root_mean_squared_error: 1178.5986
Epoch 57/100
267/267 [==============================] - 17s 65ms/step - loss: 1451882.2500 - root_mean_squared_error: 1204.9408
Epoch 58/100
267/267 [==============================] - 18s 66ms/step - loss: 1361844.2500 - root_mean_squared_error: 1166.9808
Epoch 59/100
267/267 [==============================] - 17s 65ms/step - loss: 1307510.3750 - root_mean_squared_error: 1143.4642
Epoch 60/100
267/267 [==============================] - 17s 65ms/step - loss: 1427906.7500 - root_mean_squared_error: 1194.9506
Epoch 61/100
267/267 [==============================] - 18s 66ms/step - loss: 1445134.7500 - root_mean_squared_error: 1202.1376
Epoch 62/100
267/267 [==============================] - 18s 66ms/step - loss: 1318823.8750 - root_mean_squared_error: 1148.4005
Epoch 63/100
267/267 [==============================] - 18s 67ms/step - loss: 1285441.7500 - root_mean_squared_error: 1133.7732
Epoch 64/100
267/267 [==============================] - 18s 66ms/step - loss: 1360163.2500 - root_mean_squared_error: 1166.2604
Epoch 65/100
267/267 [==============================] - 17s 65ms/step - loss: 1492773.8750 - root_mean_squared_error: 1221.7913
Epoch 66/100
267/267 [==============================] - 18s 66ms/step - loss: 1448720.2500 - root_mean_squared_error: 1203.6279
Epoch 67/100
267/267 [==============================] - 17s 65ms/step - loss: 1457952.1250 - root_mean_squared_error: 1207.4569
Epoch 68/100
267/267 [==============================] - 17s 65ms/step - loss: 1421677.7500 - root_mean_squared_error: 1192.3413
Epoch 69/100
267/267 [==============================] - 17s 65ms/step - loss: 1339327.2500 - root_mean_squared_error: 1157.2931
Epoch 70/100
267/267 [==============================] - 17s 65ms/step - loss: 1378849.1250 - root_mean_squared_error: 1174.2440
Epoch 71/100
267/267 [==============================] - 17s 65ms/step - loss: 1476940.6250 - root_mean_squared_error: 1215.2944
Epoch 72/100
267/267 [==============================] - 17s 64ms/step - loss: 1402417.7500 - root_mean_squared_error: 1184.2372
Epoch 73/100
267/267 [==============================] - 17s 65ms/step - loss: 1462693.7500 - root_mean_squared_error: 1209.4188
Epoch 74/100
267/267 [==============================] - 17s 65ms/step - loss: 1451669.3750 - root_mean_squared_error: 1204.8524
Epoch 75/100
267/267 [==============================] - 17s 64ms/step - loss: 1470423.7500 - root_mean_squared_error: 1212.6104
Epoch 76/100
267/267 [==============================] - 17s 65ms/step - loss: 1452371.1250 - root_mean_squared_error: 1205.1436
Epoch 77/100
267/267 [==============================] - 17s 65ms/step - loss: 1485217.7500 - root_mean_squared_error: 1218.6951
Epoch 78/100
267/267 [==============================] - 17s 65ms/step - loss: 1436476.2500 - root_mean_squared_error: 1198.5309
Epoch 79/100
267/267 [==============================] - 17s 65ms/step - loss: 1425482.6250 - root_mean_squared_error: 1193.9358
Epoch 80/100
267/267 [==============================] - 17s 65ms/step - loss: 1502683.5000 - root_mean_squared_error: 1225.8400
Epoch 81/100
267/267 [==============================] - 17s 65ms/step - loss: 1400759.7500 - root_mean_squared_error: 1183.5370
Epoch 82/100
267/267 [==============================] - 17s 65ms/step - loss: 1469691.7500 - root_mean_squared_error: 1212.3085
Epoch 83/100
267/267 [==============================] - 17s 65ms/step - loss: 1425262.0000 - root_mean_squared_error: 1193.8434
Epoch 84/100
267/267 [==============================] - 17s 65ms/step - loss: 1446743.6250 - root_mean_squared_error: 1202.8065
Epoch 85/100
267/267 [==============================] - 17s 65ms/step - loss: 1421235.6250 - root_mean_squared_error: 1192.1559
Epoch 86/100
267/267 [==============================] - 18s 66ms/step - loss: 1427020.2500 - root_mean_squared_error: 1194.5795
Epoch 87/100
267/267 [==============================] - 18s 66ms/step - loss: 1362867.0000 - root_mean_squared_error: 1167.4189
Epoch 88/100
267/267 [==============================] - 18s 66ms/step - loss: 1419156.0000 - root_mean_squared_error: 1191.2833
Epoch 89/100
267/267 [==============================] - 18s 66ms/step - loss: 1422019.8750 - root_mean_squared_error: 1192.4847
Epoch 90/100
267/267 [==============================] - 18s 66ms/step - loss: 1466724.2500 - root_mean_squared_error: 1211.0839
Epoch 91/100
267/267 [==============================] - 18s 66ms/step - loss: 1365055.8750 - root_mean_squared_error: 1168.3561
Epoch 92/100
267/267 [==============================] - 18s 66ms/step - loss: 1399857.8750 - root_mean_squared_error: 1183.1559
Epoch 93/100
267/267 [==============================] - 17s 65ms/step - loss: 1285442.6250 - root_mean_squared_error: 1133.7737
Epoch 94/100
267/267 [==============================] - 17s 65ms/step - loss: 1309608.7500 - root_mean_squared_error: 1144.3813
Epoch 95/100
267/267 [==============================] - 17s 65ms/step - loss: 1473863.7500 - root_mean_squared_error: 1214.0280
Epoch 96/100
267/267 [==============================] - 18s 66ms/step - loss: 1392669.2500 - root_mean_squared_error: 1180.1141
Epoch 97/100
267/267 [==============================] - 17s 65ms/step - loss: 1365939.2500 - root_mean_squared_error: 1168.7340
Epoch 98/100
267/267 [==============================] - 17s 65ms/step - loss: 1326303.2500 - root_mean_squared_error: 1151.6523
Epoch 99/100
267/267 [==============================] - 17s 64ms/step - loss: 1434038.2500 - root_mean_squared_error: 1197.5133
Epoch 100/100
267/267 [==============================] - 17s 65ms/step - loss: 1399978.0000 - root_mean_squared_error: 1183.2067

In [29]:
# getting predictions for the validation set
prediction = model.predict(test_data)

**Converting to csv**

In [30]:
answer=pd.DataFrame(prediction, columns = ['Item_Outlet_Sales'])

In [31]:
ans=pd.DataFrame()

In [32]:
ans['Item_Identifier']=original_data['Item_Identifier']

In [33]:
ans['Outlet_Identifier']=original_data['Outlet_Identifier']

In [34]:
ans['Item_Outlet_Sales']=answer['Item_Outlet_Sales']

In [35]:
ans.tail()

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
5676           FDB58            OUT046        2153.766357
5677           FDD47            OUT018        3072.425537
5678           NCO17            OUT045        1669.059448
5679           FDJ26            OUT017        3344.544922
5680           FDU37            OUT045        1119.414917

In [36]:
ans.to_csv('Submission.csv', index=False)